/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


 .icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#mainContainer{
  margin-top: 100px;
}
.tabs{
  margin-bottom: 20px;
}
.reg-btn{
  color: black;
  z-index: 0;
}

#minutesEvery, #minutesStart, #minutesFrom, #minutesTo  {
  width: 40px;
}

input .with-gap {
  display: inline-flex;
  align-items: center;
}

[type="radio"]:not(:checked) + span,
[type="radio"]:checked + span {
  display: inline;
}

.select-element {
  margin-left: 8px;
  margin-right: 8px;
}

.select-element input[type=text] {
  height: 1rem;
  margin-bottom: 0;
}
.select-element .input-container {
  margin:0;
  padding:0;

}

.option .afterSelect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  font-size: 1rem;
  -webkit-transition: .28s ease;
  transition: .28s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #9e9e9e;          
}